@charset "utf-8";
@font-face {
    font-family: "Mapo";
    font-style: normal;
    font-weight: 400;
    src: local("Mapo"),
         url("../fonts/MapoFlowerIsland/MapoFlowerIsland.otf") format("opentype"),
         url("../fonts/MapoFlowerIsland/MapoFlowerIsland.ttf") format("truetype");
}
@font-face {
    font-family: "Eulyoo";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Eulyoo/Eulyoo1945-Regular.eot");
    src: local("Eulyoo"),
         url("../fonts/Eulyoo/Eulyoo1945-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Eulyoo/Eulyoo1945-Regular.woff") format("woff"),
         url("../fonts/Eulyoo/Eulyoo1945-Regular.woff2") format("woff2"),
         url("../fonts/Eulyoo/Eulyoo1945-Regular.ttf") format("truetype"),
         url("../fonts/Eulyoo/Eulyoo1945-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Eulyoo";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Eulyoo/Eulyoo1945-SemiBold.eot");
    src: local("Eulyoo"),
         url("../fonts/Eulyoo/Eulyoo1945-SemiBold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Eulyoo/Eulyoo1945-SemiBold.woff") format("woff"),
         url("../fonts/Eulyoo/Eulyoo1945-SemiBold.woff2") format("woff2"),
         url("../fonts/Eulyoo/Eulyoo1945-SemiBold.ttf") format("truetype"),
         url("../fonts/Eulyoo/Eulyoo1945-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "Spoqa";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.eot");
    src: local("Spoqa Han Sans Neo"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.eot?#iefix"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff") format("woff"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff2") format("woff2"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.otf") format("opentype");
}
@font-face {
    font-family: "Spoqa";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.eot");
    src: local("Spoqa Han Sans Neo"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.eot?#iefix"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff") format("woff"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff2") format("woff2"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.otf") format("opentype");
}
@font-face {
    font-family: "Spoqa";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.eot");
    src: local("Spoqa Han Sans Neo"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.eot?#iefix"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff") format("woff"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Spoqa";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.eot");
    src: local("Spoqa Han Sans Neo"),
    url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.eot?#iefix"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff") format("woff"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Spoqa";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.eot");
    src:  local("Spoqa Han Sans Neo"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.eot?#iefix"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff") format("woff"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
         url("../fonts/SpoqaHanSansNeo_all/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.otf") format("opentype");
}
/* tag reset */
body, ul, p{padding: 0; margin: 0;}
a:link, a:visited, a:hover, a:visited{text-decoration: none; color: inherit;}
ul{list-style: none;}
img{bottom: none; vertical-align: top;}

body{background: #fcf8f1;}

/* common stlye */
.f_l{float: left;}
.f_r{float: right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.d_f{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display:-webkit-flex; display: flex;}
.blind{width: 1px; height: 1px; position: absolute; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%)}
.clearfix::after{content: ""; clear: both; display: block;}
.bdbox{box-sizing: border-box;}



/* #footer */
#footer{width: 100%; height: 400px; padding: 50px 136px; background: url("../image/footer/footer_bg.jpg"); font-family:"Spoqa";}
.foot_wrap{width: 1650px; height: 290px;  /* border: 1px solid red; */}
.foot_top{width: 100%; height: 80px; border-bottom: 1px solid #3b3b3b; justify-content: space-between;}
.foot_top .foot_logo{padding: 30px 0 0 30px;}
.foot_top .btn_top{width: 63px; height: 63px; margin-right: 50px;}
.foot_area{padding: 30px 0 18px 40px; font-weight: 300;}
.foot_menu{font-size: 20px;}
.foot_menu ul li{padding: 0 30px 30px 0;}
.foot_info p{font-size: 16px; padding-bottom: 10px;}
.foot_info p span{position: relative;}
.foot_info p span + span{padding-left: 10px;}
.foot_info p span + span::after{content:""; width: 1px; height: 100%; position: absolute; top: 0; left: 4px; background: #3b3b3b;}
.foot_sns{top: 0; right: 0; padding: 20px 30px;width: 300px; height: 35px;}
.foot_sns ul{justify-content: flex-end;}
.foot_sns ul li{margin-left: 15px;}