@charset "utf-8";
/* #cnt1 */
#videoBg{width: 100%;height: 100vh;object-fit: cover;}

/* #cnt2 */
#cnt2{height: 700px;}
/* 텍스트 */
#cnt2 .txt_cnt2{line-height: 50px;margin-bottom: 200px;width: 280px;text-align: center;}
#cnt2 p{font-size: 25px;}
#cnt2 h3{font-size: 40px;}
#cnt2{position: relative;}
#cnt2 .txt_cnt2 > a{display: inline-block; font-size: 20px;border: 1px solid #3b3b3b;width: 120px;height: 30px;line-height: 30px;text-align: center;}
#cnt2 .txt_cnt2 > a:hover{border: 1px solid #fcb95e;background: #fcb95e;color: #fff;}
/* 화살표 */
#cnt2 .arrow_cnt2{position: absolute;top: 210px;right: 0;width: 140px;height: 15px;}
.button_next::after{content:"";position: absolute;top: 0;left: 70px;background: url(../images/index/section2/화살표\(우\).png);width: 70px;height: 19px;}
.button_next:hover::after{background: url(../images/index/section2/화살표\(우\)hover.png);}
.button_prev::after{content:"";position: absolute;top: 0;left: -70px;background: url(../images/index/section2/화살표\(좌\).png);width: 70px;height: 19px;}
.button_prev:hover::after{background: url(../images/index/section2/화살표\(좌\)hover.png);}
.circle_prev{position: absolute;top: -10px;left: -80px;}
.circle_next{position: absolute;top: -10px;left: 100px;}
.circle_prev,.circle_next{stroke-dasharray: 144;stroke-dashoffset: 144;}
.circle_prev:hover,.circle_next:hover{animation: svgAni 1s linear forwards;}
@keyframes svgAni {
  0%{stroke-dashoffset: 144;}
  100%{stroke-dasharray: 0;}
}
/* 제품 */
#cnt2 ul{display: flex;justify-content: space-between;align-items:flex-end ;}
#cnt2 ul li{text-align: center;}
.product_bg{position: absolute;bottom: 210px;left: calc(50% - 191.5px); z-index: -1;}

/* 보더라인 */
#cnt2 .bdline_cnt{position: absolute;bottom: 80px;left: calc(50% - 350px); background: #3b3b3b;width: 700px;height: 1px;}
#cnt2 .bdline_cnt::before{content:"";position: absolute;top: -2px; background: #fcb95e;width: 230px;height: 7px;}


/* #cnt3 */
#cnt3 {display: flex;align-items: center;justify-content: center; background:url(../images/index/section3/메인이미지.png) no-repeat fixed center;width: 100vw;height: 100vh;text-align: center;background-size: cover;}
#cnt3 h4{font-family: spoqa; font-size: 70px;color: #fff;line-height: 1.5;}

/* #cnt4 */
#cnt4{font-size: 30px;font-weight: 500;font-family: spoqa;}
#cnt4 > p {padding-left: 30px;font-style: italic;}
#cnt4 ul li{float: left;margin-left: 30px;}
#cnt4 ul li:nth-child(4){margin-top: 22px;}
#cnt4 ul li:nth-child(5){margin-top: 22px;}
#cnt4 ul li{position: relative;}
#cnt4 ul li .over{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgb(252, 185, 94, .8);color: #fff;font-size: 18px;cursor: pointer;}
#cnt4 ul li .over::after{content:"";position: absolute;top: calc(50% - 15px);left: calc(50% - 15px);background: url(../images/index/section4/인스타그램.png) no-repeat;width: 30px;height: 30px;}
#cnt4 ul li .over p{position: absolute;bottom: 5px;left: 5px;}
#cnt4 ul li .over{opacity: 0;transition: all 0.5s;}
#cnt4 ul li:hover .over,#cnt4 ul li:focus .over {opacity: 1;}